<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/template.css")" rel="stylesheet" 
              type="text/css" />              
        <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" 
                type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/gps.jquery.js")" 
                type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=3"></script>
        <style type="text/css">
            body {
                padding-top: 100px;
            }
        </style>
    </head>
    <body>
    <div id="template">
		<div id="main">
			<div id="logo">
			<img src="../../Content/Images/southbridgelogo.png" alt="Logo"/>
			</div>
			<div id="slogan">
			&nbsp;&nbsp;&nbsp; Authentic charcoal grill - Halal</div>
			<div style="clear:both;"></div>
			<div id="topnavi">
			<div id="navwidth">
				<ul id="navi">
					<li id="liHome">@Html.ActionLink("Home","Index","Home")</li>
					<li id="liOrder">@Html.ActionLink("Order Online","Order","Order")</li>
                    <li id="liContact">@Html.ActionLink("Contact Us","Contact","Home") </li>
				</ul>
				</div>				
			</div>
		<div style="clear:both;"></div>
		<br/>
            @*<div id="header">
		<div id="inheader"><h1>South Bridge Charcoal Grill</h1></div>
		</div>
            *@         
   <div id="content">
                @RenderBody()                		
            </div>
            <div style="clear:both;"></div>
			<div id="contentbottom">
				<div id="contentbottomleft">
					<h2>Test</h2>
						<p>Paragraph</p>
				</div>
				<div id="contentbottomright">
				
				<h2>Right</h2>
						<p>Paragraph </p>
				</div>
				<div style="clear:both"></div>
			</div>
			<div id="footer">
	        </div>
<div id="end"></div>
</div>
</div>
</body>
</html>


