@model Cuisine.Models.Category
 
@{
    ViewBag.Title = "Browse Products";
}
 
<div class="genre">
    <h3><em>@Model.Name</em> Products</h3>
 
    <ul id="album-list">
        @foreach (var album in Model.Products)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.ProductId })">
                    <img alt="@album.Name" src="@album.ProductImageUrl" />
                    <span>@album.Name</span>
                </a>
            </li>
        }
    </ul>
</div>
